@import './ReactCrop.css';

.menu {
  width: 170px;
  height: 100vh;
  float: right;
  vertical-align: middle;
  text-align: right;
  background-color: #f8f8f8;
}

.content-wrap {
  margin-right: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.master-crop {
  position: relative;
  height: 300px;
  padding-bottom: 5px;
}

.image {
  position: absolute;
  height: 300px;
}

.indicator {
  top: 90px;
  left: 90px;
  position: relative;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 1px;
}

.display-crop {
  height: 200px;
}

.display-crop-container {
}
