.preview-image {
  object-fit: contain;
  object-position: center;
  width: calc(100vw - 170px);
  height: 100vh;
  float: left;
  position: absolute;
  display: block;
}

.menu {
  width: 170px;
  height: 100vh;
  float: right;
  vertical-align: middle;
  text-align: right;
  background-color: #f8f8f8;
}

.content-wrap {
  margin-right: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
